<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

      {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}

      <p>{{ site.description | default: site.github.project_tagline }}</p>

      <!-- {% if site.github.is_project_page %}
      <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub
          <small>{{ site.github.repository_nwo }}</small></a></p>
      {% endif %}

      {% if site.github.is_user_page %}
      <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
      {% endif %} -->

      {% if site.show_downloads %}
      <ul class="downloads">
        <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
        <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
      </ul>
      {% endif %}
    </header>
    <section>

      {{ content }}

    </section>
    <section>
      <div id="mod-0p">
        <h1>
          Privacy Policy for the <span class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> App
        </h1>
        <p>
          <strong>Last updated:</strong> <span id="mod-0p-date">07/22/2020</span>
          <br>
          <span id="mod-0p-url"></span>
        </p>
        <p>
          I am the developer of <span class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span>. This privacy policy describes
          how I process your personal information and which privacy rights you have when you are using <span
            class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span>. Please contact me at the contact information <a
            href="#contact_us">below</a> if you have any questions or comments.
        </p>
        <p>
        </p>
        <ol id="links">
          <li><a href="#personal_information_collection">Personal Information Collection and Use</a></li>
          <li><a href="#personal_information_sharing">Personal Information Sharing</a></li>
          <li><a href="#tracking_technologies">Tracking Technologies</a></li>
          <li><a href="#social_login">Social Logins</a></li>
          <li><a href="#in-app_purchase">In-app Purchase Information</a></li>

          <li id="mod-7p-link"><a href="#eea_privacy_rights">Privacy Rights of Users in the European Economic Area</a>
          </li>
          <li><a href="#children_personal_information">Children's Personal Information</a></li>
          <li><a href="#personal_information_retention">How Long I Keep Your Personal Information</a></li>
          <li><a href="#personal_information_protection">How I Protect Your Personal Information</a></li>
          <li><a href="#policy_changes">Policy Changes</a></li>
          <li><a href="#accessibility">Accessibility</a></li>
          <li><a href="#contact_us">Contact Me</a></li>
        </ol>
        <p></p>
      </div>

      <br>

      <!-- Section-1P -->
      <div id="mod-1p">
        <h2 id="personal_information_collection">
          <span class="num">1</span>. Personal Information Collection and Use
        </h2>
        <div id="mod-1p-practices">
          <p>
            I may receive technical information about your device, for example, its IP address or operating system.
          </p>
        </div>
        <div id="mod-1p-practices-alt"></div>
      </div>

      <!-- Section-2P -->
      <div id="sec-title-2P">
        <br>
        <h2 id="personal_information_sharing">
          <span class="num">2</span>. Personal Information Sharing
        </h2>
        <div id="mod-2p-practices">
          <p>
            <span class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> integrates the following third party services that
            are
            not requesting any permission:
          </p>
          <ul>
            <li>
              <strong>FirebaseDynamicLinks</strong>
            </li>

            <li>
              <strong>FirebaseCore</strong>
            </li>

            <li>
              <strong>PromisesObjC</strong>
            </li>

            <li>
              <strong>GoogleDataTransport</strong>
            </li>

            <li>
              <strong>GoogleDataTransportCCTSupport</strong>
            </li>

            <li>
              <strong>FirebaseInstanceID</strong>
            </li>

            <li>
              <strong>FirebaseCoreDiagnostics</strong>
            </li>

            <li>
              <strong>FirebaseInstallations</strong>
            </li>

            <li>
              <strong>MMWormhole</strong>
            </li>

            <li>
              <strong>Firebase</strong>
            </li>

            <li>
              <strong>FirebaseAnalytics</strong>
            </li>

            <li>
              <strong>FirebaseMessaging</strong>
            </li>

            <li>
              <strong>GoogleUtilities</strong>
            </li>

            <li>
              <strong>nanopb</strong>
            </li>

            <li>
              <strong>GoogleAppMeasurement</strong>
            </li>

            <li>
              <strong>Protobuf</strong>
            </li>
          </ul>


          <p>
            All third party services may receive technical information about your device, for example, its IP address or
            operating system version. Also, they may keep your personal information over time and across different apps
            and
            websites.
          </p>
        </div>
        <div id="mod-2p-practices-alt"></div>
      </div>

      <!-- Section-3P -->
      <div id="sec-title-3P">
        <br>
        <h2 id="tracking_technologies">
          <span class="num">3</span>. Tracking Technologies
        </h2>
        <div id="mod-3p-content">Neither <span class=" app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> nor any third party
          services are using tracking technologies.
        </div>
      </div>

      <!-- Section-4P -->
      <div id="sec-title-4P">
        <br>
        <h2 id="social_login">
          <span class="num">4</span>. Social Logins
        </h2>
        <div id="mod-4p-content">
          <p><span class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> does not use any social login functionality. </p>
        </div>
      </div>

      <!-- Section-5P -->
      <div id="sec-title-5P">
        <br>
        <h2 id="in-app_purchase">
          <span class="num">5</span>. In-app Purchase Information
        </h2>
        <div id="mod-5p-content">
          <p><span class=" app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> offers in-app purchases. However, any in-app
            purchase
            is processed by Apple via the App Store and your App Store account. In particular, I will not store your
            credit
            card or other payment information on our servers.</p>
        </div>
      </div>

      <!-- Section-6P -->


      <!-- Section-7P -->
      <div class="" id="sec-title-7P">
        <br>
        <h2 id="eea_privacy_rights">
          <span class="num">6</span>. Privacy Rights of Users in the European Economic Area
        </h2>
        <div id="mod-7p-content">
          <p>
            If you are in the European Economic Area and if you have any questions or would like to exercise any of your
            rights, please contact me at the contact information <a href="#contact_us">below</a>. You have the rights
            to:
          </p>

          <ul>
            <li>
              Request a copy of your personal information
            </li>
            <li>
              Request corrections of inaccurate personal information, deletions, or additions to your personal
              information
            </li>
            <li>
              Restrict or object to personal information processing
            </li>
            <li>
              Withdraw your consent for processing personal information at any time
            </li>
            <li>
              Request a portable copy of your personal information for transferring it to another service
            </li>
            <li>
              Lodge a complaint with a <a
                href="https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm"
                target="_blank">supervisory authority</a>
            </li>
          </ul>

          <p>
            I am processing your personal information only as allowed by the law under the following circumstances:
          </p>

          <ul>
            <li>
              I have your consent
            </li>
            <li>
              Under a contract I have with you or for entering into a contract with you
            </li>
            <li>
              I am required to do so by law
            </li>
            <li>
              To protect your vital interests or those of another person
            </li>
            <li>
              To carry out a task in the public interest or as officially authorized
            </li>
            <li>
              If I or a third party is acting under a legitimate interest recognized by law
            </li>
          </ul>
        </div>
      </div>

      <!-- Section-8P -->
      <div id="sec-title-8P">
        <br>
        <h2 id="children_personal_information">
          <span class="num">7</span>. Children's Personal Information
        </h2>
        <div id="mod-8p-content">
          Users of <span class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> must be at least 13 years old. I do not
          knowingly collect personal information from children. If I learn that I have collected personal information
          from a
          child, I will take all reasonable steps to delete it as soon as possible. If you become aware that a child has
          provided personal information to me, please contact me at the contact information <a
            href="#contact_us">below</a>.
        </div>
      </div>

      <!-- Section-9P -->
      <div id="mod-9p-title">
        <br>
        <h2 id="personal_information_retention">
          <span class="num">8</span>. How Long I Keep Your Personal Information
        </h2>
        <div id="mod-9p-content">
          <p>I will keep the personal information that I collect as long as it is necessary for the purposes for which I
            collect it.</p>
        </div>
      </div>

      <!-- Section-10P -->
      <div id="sec-title-10P">
        <br>
        <h2 id="personal_information_protection">
          <span class="num">9</span>. How I Protect Your Personal Information
        </h2>
        <div id="mod-10p-content">
          <p>I use encryption to protect personal information stored and transmitted online. Only personnel who need the
            personal information to perform a specific function have access to such. The computers and servers on which
            I
            store personal information are kept in a secure environment.</p>
        </div>
      </div>

      <!-- Section-11P -->
      <div id="sec-title-11P">
        <br>
        <h2 id="policy_changes">
          <span class="num">10</span>. Policy Changes
        </h2>
        <div id="mod-11p-content">
          <p>When I make material changes to this privacy policy, for example, due to app updates or changes in the law,
            I
            will post the updated policy here. The policy will always apply in the version at the time of your use of
            <span class="app-name" style="opacity: 1;">Sʜᴀʀᴇᴆ</span> even if you downloaded <span class="app-name"
              style="opacity: 1;">Sʜᴀʀᴇᴆ</span> at a time when a previous policy version was applicable.</p>
        </div>
      </div>

      <!-- Section-12P -->
      <div id="sec-title-12P">
        <br>
        <h2 id="accessibility">
          <span class="num">11</span>. Accessibility
        </h2>
        <div id="mod-12p-content">
          <p>This website conforms to the <a href="https://www.w3.org/TR/WCAG21/" target="_blank">Web Content
              Accessibility
              Guidelines (WCAG) 2.1</a>. However, if you are having difficulties obtaining information from it, please
            contact me at the contact information <a href="#contact_us">below</a>. I will try to make the information
            available to you in another format and answer any question that you may have.</p>
        </div>
      </div>

      <!-- Section-13P -->
      <div id="sec-title-13P" class="extra-margin-bottom">
        <br>
        <h2 id="contact_us">
          <span class="num">12</span>. Contact Me
        </h2>
        <p>Please contact me if you have any questions or concerns.</p>
        <div id="mod-13p-name">
          <p>Sine Akha Manjezi</p>
        </div>
        <div id="mod-13p-email">
          <p><a href="mailto:sharedapp.feedback@gmail.com" target="_blank">sharedapp.feedback@gmail.com</a></p>
        </div>
      </div>

      <small>This privacy policy was generated with <a href="https://github.com/privacy-tech-lab/privacyflash-pro"
          target="_blank">PrivacyFlash Pro</a></small>

    </section>
    <footer>
      {% if site.github.is_project_page %}
      <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      </p>
    </footer>
  </div>
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>